*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Index */

body {
    background-color: $color-fondo;
}

/* Barra navegación */

header {
    background-color: $color-headfoot;
    padding: 5px;
    position: sticky;
    z-index: 1000;
    left: 0;
    top: 0;
    .logo {
        width: 100px;
        height: auto;
    }
    .navBarFlex {
        @include flex-star;
        .navbar-nav {
            .nav-link {
                @include flex-inline-block;
                padding: 6px 6px 3px 6px;
            }
        }
    }
    button {
        border: $sin-formato !important;
        color: transparent;
    }
    .navbar-toggler-icon {
        color: $color-primario;
        border: $sin-formato;
        background-color: $color-headfoot;
    }
    .navBarUl li {
        list-style: $sin-formato;
        font-family: $fuente-nav;
        font-size: small;
        margin-bottom: 5px;
        padding: 5px 10px 5px 10px;
        a {
            text-decoration: $sin-formato;
            color: $color-primario;
            &:hover {
            color: $color-hover;
            }
        }
    }    
}

.btn {
    background-color: $color-secundario;
    margin-bottom: 5px;
    &:hover {
    background-color: $color-primario;
    }
}

.btn-outline-success {
    font-family: $fuente-nav;
    font-size: small;
    color: $color-primario;
    border: $sin-formato !important;
}

/* Footer */

footer{
    /* background-color: #dde9f3; */
    background-color: $color-headfoot;
    @include flex-footer;
    padding: 10px; 
    .redes i{
        font-size: small;
        letter-spacing: 15px;
        color: $color-primario;
    }
    a{
        font-size: small;
        text-decoration: $sin-formato;
        color: $color-primario;
        p{
            margin-bottom: 20px;
            font-family: $fuente-nav;
            font-size: small;
            color: $color-primario;
        }
    }
}

/*Boton subir*/

/* Estilos para el botón de subir */

.scroll-to-top{
    display: block;
    font-size: x-large;
    letter-spacing: 15px;
    color: $color-primario;
    padding: 10px; 
    transition: background-color 0.3s; 
    position: fixed; 
    bottom: 20px; 
    right: -10px; 
    z-index: 999; 
}

.scroll-to-top .fa-circle-arrow-up:hover{
    color: $color-hover;
}

/* Main Index */

.atraccion{
    margin: 5px 10px 10px 20px;
    p{
        font-family: $fuente-textos;
        font-size: small;
        text-align: justify;
        color: $color-primario;
        margin: 5px auto 15px auto;
        padding: 5px 25px 15px 25px;
    }
}

/* Carrusel de cards */

.flexCarrusel {
    @include flex-center;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

/* Mapa */

/* Modal Mapa Subte */

.modal-body{
    background-color: $color-fondo;
    img{
        width: 100%;
    }
}
.modal-header{
    background-color: $color-card;
    .modal-title {
        font-family: $fuente-principal;
        font-size: medium;
        color: $color-primario;
        margin-top: 10px;
    }
}

/* Hospedaje */

/* Cards */

.row {
    @include flex-center;
}

.botonHotel a{
    text-decoration: $sin-formato;
    @include flex-center;
    margin-bottom: 80px;
}

/* Foodie */

/* Galeria Rooftop */

.galBack{
    background-color: $color-card;
    background-image: linear-gradient(160deg, $color-card 0%, $color-headfoot 37%, #ffffff 100%);

}

.modal-header{
    border-bottom: $sin-formato;
    background-color: rgba(227, 243, 246, 0.530);
}

/* Contacto */

form{
    max-width: 600px;
    width: 50%;
    margin: 10px auto 0px auto;
    font-family: $fuente-textos;
    font-size: medium; 
    color: $color-primario;
    label {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        color: $color-primario;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $color-primario;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: $color-secundario;
    }
}

