/*Titulos Mobile first*/

h1{
    text-align: center;
    font-family: $fuente-principal;
    font-size: medium;
    color: $color-primario;
    margin-top: 20px;
}

h2{
    text-align: center;
    font-family: $fuente-principal;
    font-size: medium;
    color: $color-primario;
    margin-bottom: 40px;
}

h3 {
    font-family: $fuente-principal;
    font-size: medium;
    color: $color-primario;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Titulos Queries*/

@media only screen and (min-width: 1024px){
    h1{
        font-size: large;
        margin: top 20px;
    }
    h2{
        font-size: large;
    }
}


