/*Colores*/

$color-primario: #246f9d;
$color-secundario: #D4E2ED;
$color-fondo: rgba(227, 243, 246, 0.53);
$color-headfoot: #AEC6CF;
$color-hover:#b8b7bb;
$color-card:#E3F3F6;

/*Fuentes*/

$fuente-principal: "Mulish", sans-serif;
$fuente-nav: "Oswald", sans-serif;
$fuente-textos: "Montserrat", sans-serif;

/*Sin Formato*/

$sin-formato: none;









